<p id="notice"><%= notice %></p>

<p>
  <b>User Name:</b>
  <%= @user.name %>
</p>

<b>Tasks</b>
<table>
	<%= render @user.tasks.order("priority") %>
</table>

<h2>Add a task:</h2>
<%= render "tasks/form" %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
